@model GestionVentasV2.Models.pedido

@{
    ViewData["Title"] = "Delete";
    Layout = "_LayoutEstablecimiento";
}

@section TituloPrincipal
{
    <!-- Page Title
            ============================================= -->
    <section id="page-title" style="background-color:#9dccd6;">

        <div class="container clearfix">
            <h1 data-animate="fadeInUp">Pedidos</h1>
            <span data-animate="fadeInUp" data-delay="300">@ViewBag.Establecimiento</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Administración</a></li>
                <li class="breadcrumb-item"><a>Prodcutos</a></li>
                <!--<li class="breadcrumb-item active" aria-current="page">Page Titles</li>-->
            </ol>
        </div>

    </section><!-- #page-title end -->
}


<div class="container clearfix">

    <h1>Está seguro de @(Model.estados_id== 1 ? "deshabilitar" : "habilitar") el pedido?</h1>
    <div>
        <h4>pedido</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fecha)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fecha)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.nombreCliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nombreCliente)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.direccionEntrega)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.direccionEntrega)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.telefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.telefono)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.correo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.correo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.usuarioCreacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.usuarioCreacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fechaCreacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.usuarioActualizacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.usuarioActualizacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fechaActualizacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fechaActualizacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.estados_id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.estados_id)
            </dd>

        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="id" />
            <input type="submit" value="@(Model.estados_id== 1 ? "Deshabilitar" : "Habilitar")" class="btn @(Model.estados_id== 1 ? "btn-danger" : "btn-success")" /> |
            <a asp-action="Index">Regresar a la lista</a>
        </form>
    </div>
</div>
