@model GestionVentasV2.Models.cliente

@{
    ViewData["Title"] = "Delete";
}

<h2>@(Model.estados_id== 1 ? "Deshabilitar" : "Habilitar")</h2>

<h3>Está seguro de @(Model.estados_id== 1 ? "deshabilitar" : "habilitar") el cliente?</h3>
<div>
    <h4>cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correoElectronico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correoElectronico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estados.nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="@(Model.estados_id== 1 ? "Deshabilitar" : "Habilitar")" class="btn  @(Model.estados_id== 1 ? "btn-danger" : "btn-success")" /> |
        <a asp-action="Index">Regresar al listado</a>
    </form>
</div>
