@model GestionVentasV2.Models.ViewModels.productoVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutPublic";
}


@section TituloPrincipal
{
    <!-- Page Title
            ============================================= -->
    <section id="page-title" style="background-color:#9dccd6;">

        <div class="container clearfix">
            <h1 data-animate="fadeInUp">@Model.nombre</h1>
            <span data-animate="fadeInUp" data-delay="300"></span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item"><a asp-controller="Establecimiento" asp-action="Home" asp-route-EstablecimientoId="@Model.idEstablecimiento">@Model.nombreEstablecimiento</a></li>
                <!--<li class="breadcrumb-item active" aria-current="page">Page Titles</li>-->
            </ol>
                    </div>

                </section><!-- #page-title end -->
}


<div class="container clearfix">

    <div class="single-product">
        <div class="product">
            <div class="row gutter-40">

                <div class="col-md-6">

                    <!-- Product Single - Gallery
                    ============================================= -->
                    <div class="product-image">
                        <div class="fslider" data-pagi="false" data-arrows="false" data-thumbs="true">
                            <div class="flexslider">
                                <div class="slider-wrap" data-lightbox="gallery">
                                    <div class="slide" data-thumb="/@Model.pathImagen"><a href="/@Model.pathImagen" title="@Model.nombre data-lightbox="gallery-item"><img src="/@Model.pathImagen" alt="@Model.nombre"></a></div>
                                    <!--<div class="slide" data-thumb="images/shop/thumbs/dress/3-1.jpg"><a href="images/shop/dress/3-1.jpg" title="Pink Printed Dress - Side View" data-lightbox="gallery-item"><img src="images/shop/dress/3-1.jpg" alt="Pink Printed Dress"></a></div>
                                    <div class="slide" data-thumb="images/shop/thumbs/dress/3-2.jpg"><a href="images/shop/dress/3-2.jpg" title="Pink Printed Dress - Back View" data-lightbox="gallery-item"><img src="images/shop/dress/3-2.jpg" alt="Pink Printed Dress"></a></div>-->
                                </div>
                            </div>
                        </div>
                        <!--<div class="sale-flash badge bg-danger p-2">Sale!</div>-->
                    </div><!-- Product Single - Gallery End -->

                </div>

                <div class="col-md-6 product-desc">

                    <div class="d-flex align-items-center justify-content-between">

                        <!-- Product Single - Price
                        ============================================= -->
                        <div class="product-price"><!--<del>$39.99</del>--> <ins>Q @Model.precioVenta</ins></div><!-- Product Single - Price End -->
                        <!-- Product Single - Rating
                        ============================================= -->
                        <!-- <div class="product-rating">
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star3"></i>
                            <i class="icon-star-half-full"></i>
                            <i class="icon-star-empty"></i>
                        </div><!-- Product Single - Rating End -->

                    </div>

                    <div class="line"></div>

                    <!-- Product Single - Quantity & Cart Button
                    ============================================= -->
                    <form class="cart mb-0 d-flex justify-content-between align-items-center" asp-action="CrearPedido" asp-controller="Pedido" method="post" enctype='multipart/form-data'>
                        <div class="quantity clearfix">
                            <input type="hidden" name="productoId" value="@Model.id" />
                            <input type="hidden" name="precioVenta" value="@Model.precioVenta" />
                            <input type="hidden" name="establecimientoId" value="@Model.idEstablecimiento" />
                            <input type="button" value="-" class="minus">
                            <input type="number" step="1" min="1" name="cantidad" value="1" title="Qty" class="qty" />
                            <input type="button" value="+" class="plus">
                        </div>
                        <button type="submit" class="add-to-cart button m-0">Comprar</button>
                    </form><!-- Product Single - Quantity & Cart Button End -->

                    <div class="line"></div>

                    <!-- Product Single - Short Description
                    ============================================= -->
                    <p>@Model.descripcion</p>
                    <!--<ul class="iconlist">
                        <li><i class="icon-caret-right"></i> Dynamic Color Options</li>
                        <li><i class="icon-caret-right"></i> Lots of Size Options</li>
                        <li><i class="icon-caret-right"></i> 30-Day Return Policy</li>
                    </ul><!-- Product Single - Short Description End -->
                    <!-- Product Single - Meta
                    ============================================= -->
                    <!--<div class="card product-meta">
                        <div class="card-body">
                            <span itemprop="productID" class="sku_wrapper">SKU: <span class="sku">8465415</span></span>
                            <span class="posted_in">Category: <a href="#" rel="tag">Dress</a>.</span>
                            <span class="tagged_as">Tags: <a href="#" rel="tag">Pink</a>, <a href="#" rel="tag">Short</a>, <a href="#" rel="tag">Dress</a>, <a href="#" rel="tag">Printed</a>.</span>
                        </div>
                    </div><!-- Product Single - Meta End -->
                    <!-- Product Single - Share
                    ============================================= -->
                    <!--<div class="si-share border-0 d-flex justify-content-between align-items-center mt-4">
                        <span>Share:</span>
                        <div>
                            <a href="#" class="social-icon si-borderless si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-pinterest">
                                <i class="icon-pinterest"></i>
                                <i class="icon-pinterest"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-rss">
                                <i class="icon-rss"></i>
                                <i class="icon-rss"></i>
                            </a>
                            <a href="#" class="social-icon si-borderless si-email3">
                                <i class="icon-email3"></i>
                                <i class="icon-email3"></i>
                            </a>
                        </div>
                    </div><!-- Product Single - Share End -->

                </div>

                <div class="w-100"></div>
            </div>
        </div>
    </div>

    <div class="line"></div>


    <div class="heading-block center">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-lg-0" style="margin: 0 auto;">
                <img alt="@Model.nombreEstablecimiento" src="/@Model.pathEstablecimientoImagen" class="img-thumbnail w-100 d-block">
            </div>
        </div>
        <span>Ofrecido por</span>
        <h3>@Model.nombreEstablecimiento</h3>
        <a asp-controller="Establecimiento" asp-action="Home" asp-route-EstablecimientoId="@Model.idEstablecimiento">Ir a la tienda</a>
    </div>

</div>
