@model IEnumerable<GestionVentasV2.Models.ViewModels.usuarioVM>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutEstablecimiento";
}

@section TituloPrincipal
{
    <!-- Page Title
            ============================================= -->
    <section id="page-title" style="background-color:#9dccd6;">

        <div class="container clearfix">
            <h1 data-animate="fadeInUp">Usuarios</h1>
            <span data-animate="fadeInUp" data-delay="300">@ViewBag.Establecimiento</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Administración</a></li>
                <li class="breadcrumb-item"><a>Prodcutos</a></li>
                <!--<li class="breadcrumb-item active" aria-current="page">Page Titles</li>-->
            </ol>
        </div>

    </section><!-- #page-title end -->
}


<div class="container clearfix">

    <h3>Usuarios</h3>

    <p>
        <a class="btn btn-primary" asp-action="Create">Registrar usuario</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre Completo
                </th>

                <th>
                    Correo
                </th>

                <th>
                    Roles
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                        @Html.DisplayFor(modelItem => item.apellido)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td>
                        @foreach (var rol in item.Roles)
                        {
                            @Html.DisplayFor(modelItem => rol.nombre)

                        }
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm mt-1" asp-action="Edit" asp-route-id="@item.id">Actualizar</a>
                        <a class="btn btn-primary btn-sm mt-1" asp-action="Details" asp-route-id="@item.id">Ver detalles</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

