@model GestionVentasV2.Models.stock

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>stock</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuarioActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuarioActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estados.nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalleVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalleVenta.usuarioCreacion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.detalleCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.detalleCompra.usuarioCreacion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.producto.usuarioCreacion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadSalida)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
