@model GestionVentasV2.Models.usuario

@{
    ViewData["Title"] = "Delete";
}

<h1>@(Model.estados_id== 1 ? "Deshabilitar" : "Habilitar")</h1>

<h3>
    Está seguro de @(Model.estados_id== 1 ? "deshabilitar" : "habilitar") el usuario?
</h3>
    <div>
        <h4>usuario</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.apellido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.apellido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.correo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.correo)
            </dd>
           
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.direccion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.direccion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.telefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.telefono)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fechaIngreso)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fechaIngreso)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fechaRetiro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fechaRetiro)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.usuarioCreacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.usuarioCreacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fechaCreacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.usuarioActualizacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.usuarioActualizacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fechaActualizacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fechaActualizacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.establecimiento_id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.establecimiento_id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.tipoUsuario_id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.tipoUsuario_id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.estados_id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.estados_id)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="id" />
            <input type="submit" value="@(Model.estados_id== 1 ? "Deshabilitar" : "Habilitar")" class="btn  @(Model.estados_id== 1 ? "btn-danger" : "btn-success")" /> |
            <a asp-action="Index">Regresar al listado</a>
        </form>
    </div>
